body {
    color: #070c0d;
    font-family: 'Arial', sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('../images/imagesun.jpeg');
    background-size: cover;
    background-repeat: no-repeat;

    
    background-attachment: fixed;
}
  
  a {
    color: #100703;
  }
  
  .container {
    text-align: center;
    max-width: 800px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  header {
    background-color: #edf1f4;
    color: #e88d1e;
    padding: 1rem;
    text-align: center;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #09c768;
    color: #ecf0f1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
  .info-container {
    display:flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .info-box {
    background: #c8cb0a;
    padding: 15px;
    border-radius: 10px;
    width: 45%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-size: 20px;
    color: #370eec;
  }
  
  p {
    margin: 10px 0;
  }

  p strong {
    color: #d6600b; 
}

#location-input {
  width: 200px; 
  padding: 10px; 
}

footer p {
  color: white;
}

#tomorrow-date, #current-date{ 
color: #df0f85;
}

h1{
  font-weight: bolder;
  font-size: 2em;
}

.forecast-details i {
  margin-right: 5px; 
}
.forecast-icon {
  font-size: 2em;
  color: #3498db; 
}